@import url('./reset.css');
@import url('./common.css');

/* 공통스타일 */
html{ font-size:16px; }
body{
    color:#555;
}
.title > h2{
    color:#000;
    font-size:40px;
    text-transform: uppercase;
}
.title > p{
    padding-top:10px;
    color:#555;
}
/* =====header===== */
header{
    position:fixed;
    left:0; top:0;
    width:100%;
    padding:50px 0;
}
header > div{
    margin:0 auto;
    width:1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div > h1{    
    font-size:20px;
}
header > div > h1 > a{ 
    color:white; 
}

header > div > nav{}
header > div > nav > a{ 
    color:white;
    font-size:20px;
    padding:0 20px;
    display: inline-block;
}






/* 인덱스 페이지 내용 */
.spot{
    width:100%;
    height:100vh;
    background: url('../imgs/img_main-spot.jpg') 0 0 / cover no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.spot>div{
    color: white;
}
.spot>div>b{ font-size:62px; }
.spot>div>p{ font-size:18px; padding:20px 0 30px; }
.spot>div>a{
    color:inherit;
    background-color: orange;
    padding:10px 30px;
    display: inline-block;
}
.spot>div>a:hover{background-color: orange;}
/* 
==================================================
=====================about========================
================================================== 
*/
section {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contents {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.about .contents > figure {
    padding: 20px;
    max-width: 420px;
    transition: 0.3s;
}
.about .contents > figure:hover {
    background-color: #eee;
    border-radius: 30px;
}
.about .contents > figure > p {
    background-color: #593CFB;
    width: 160px; height: 160px;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 160px;                 height의 크기만큼 줄간격을 잡아주면 아이콘이 중앙으로 오게 됨 (flex를 안쓰고 중앙으로 옮기는 방법(1줄짜리만 가능함)(p의 크기가 달라지면 중앙이 아니게 됨)) */
    transition: 0.3s;
}
.about .contents > figure:hover > p {
    background-color: #fb3c3c;
    border-radius: 15%;
}



/* 
==================================================
=====================portfolio====================
================================================== 
*/

.portfolio{
    text-align: center;
    background-color: #eee;
    padding:100px 0;
}
.portfolio .title, 
.portfolio .contents{
    width:1300px; margin:0 auto;
}

.portfolio .contents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:60px;
}
.portfolio .contents > figure{
    flex:0 0 32%;
    margin-bottom:2%;

    /* 
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 30%; 
    */
}
.portfolio .contents > figure > p{
    overflow: hidden;
}
.portfolio .contents > figure > p img{
    width:100%; 
    transition: 0.5s;
}
.portfolio .contents > figure:hover > p img{
    transform: scale(1.2);
}

.portfolio .contents > figure > figcaption{}
.portfolio .contents > figure > figcaption > b{}
.portfolio .contents > figure > figcaption > p{}


/* 
==================================================
=====================contact us====================
================================================== 
*/

.contact{
    background-color: #5D5D5D;
    padding:100px 0;
    text-align:center;
}

.contact h2,
.contact p{color:white;}

.contact .contents{
    width:1300px; 
    margin:60px auto 0 auto;
}